PyMuPDF
pdfplumber
pytesseract
Pillow
pandas
numpy
tqdm
python-dotenv
spacy
nltk
scikit-learn
regex
joblib
matplotlib
seaborn
pytest
notebook
ipykernel
python-dotenv
google-generativeai
requests
beautifulsoup4
fastapi
easyocr
uvicorn[standard]
-e .